/* start da css for da buttons */

.btn {
  border: none;
  text-align: center;
  padding: 1.2vw 3vw 1vw;
  border-radius: 0.2vw;
  text-transform: uppercase;
  margin: 1.9vw;
  outline: none;
  cursor: pointer;
  transition: all .15s ease-in-out;
  color: #090909;
}

.btn:hover {
  background-color: white;
} 

.yellow {
  background-color: #ff6;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.yellow-exception {
  box-shadow: 0px 5px 0px 0px #d5d5d5;
}

@media screen and (min-width: 80em) {
  .button {
    font-size: .6em;
  }
  .btn {
    margin: 0.09vw;
  }
}
