.skewed-bg {
  background: #00B285;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5);
}

.skewed-bg.red {
  background: #e3e3e3;
}

.skewed-bg .contentOfSkew {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}

/* Visual map */

.map-box {
  background: #e3f4fb;
  color: black;
}

.map-sidebar {
}

.map {
}
