/* UNIVERSAL */
 body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

nav a:visited{
  color: white;
}
nav{
  z-index: 1;
  position: relative;
  background: transparent;
}
*:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: none;
}
.c-button--ghost:not(:disabled):focus , .c-field:focus {
  border-color: transparent;
  box-shadow: none;
}

/* end of UNIVERSAL */

/* utilities */
.clear {
    clear: both;
}
/* end utilities */


/* HOMEPAGE */

/* HASHSCROLL BOX IN HOMEPAGE
#scroll-box-container {
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  transition: all 2s;
}

#hash-scroll-box {
  float: left;
  height: 100%;
}*/

.projectx-card {
  height: 400px;
  width: 300px;
  float: left;
  text-overflow: hidden;
  word-wrap: break-word;
  transition: all 0.8s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  overflow: hidden;
  position: relative;
  display: block;
}

/* check this for transitions:
http://stackoverflow.com/questions/3331353/transitions-on-the-display-property*/

.projectx-card:hover {
  background-size: cover;
}


.projectx-card-overlay {
  display: none;
  border: 1px solid black;
  transition: .1s ease;
  height: 400px;
  width: 300px;
  float: left;
  text-overflow: hidden;
  word-wrap: break-word;
  transition: all 0.8s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #020d11;
  overflow: hidden;
  position: relative;
  font-size: 12px;
  overflow-y: scroll;
}

.projectx-card-text {
  width: 300px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  color: white;
  text-align: center;
}

.projectx-card-text-overlay {
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  color: darken(white, 20%);
}

.hashFooterBar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1a94c5;
  color: white;
}
/* buttons for HashBoxFooter */

/*.btn-hashfooter {
  float: right;
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  //overflow bug fix
  opacity: .99;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
  background-color: white;
}*/

.btn-hashfooter {
  max-width: 40px;
  height: 40px;
}

/* end of HashScrollBox */

/* media queries */

@media screen and (max-width: 700px) {
  #hash-scroll-box {
    display: none;
  }
  #scroll-box-container {
    display: none;
  }
}

