/* UNIVERSAL */
 body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

nav a:visited{
  color: white;
}
nav{
  z-index: 1;
  position: relative;
  background: transparent;
}
*:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: none;
}
.c-button--ghost:not(:disabled):focus , .c-field:focus {
  border-color: transparent;
  box-shadow: none;
}

/* end of UNIVERSAL */

/* utilities */
.clear {
    clear: both;
}
/* end utilities */


/* HOMEPAGE */


.projectx-card {
  height: 400px;
  width: 300px;
  float: left;
  text-overflow: hidden;
  word-wrap: break-word;
  transition: all 0.8s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 12.5%;
}

.projectx-card-overlay {
  display: none;
  border: 1px solid black;
  transition: .1s ease;
  height: 400px;
  width: 300px;
  float: left;
  text-overflow: hidden;
  word-wrap: break-word;
  transition: all 0.8s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #020d11;
  overflow: hidden;
  position: relative;
  font-size: 12px;
  overflow-y: scroll;
}

.projectx-card-text {
  width: 300px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  color: white;
  text-align: center;
}

.projectx-card-text-overlay {
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  color: darken(white, 20%);
}


/* media queries */

