/* global css */
 body {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
  color: black;
}
*:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: white;
}
nav a:visited{
  color: white;
}
nav{
  z-index: 1;
  position: relative;
  background: transparent;
}

/* blaze overrides */
.c-button--ghost:not(:disabled):focus , .c-field:focus {
  border-color: transparent;
  box-shadow: none;
}

.c-nav {
  background-color: transparent;
}


.c-nav li {
  background-color: transparent;
}

.c-nav__item:hover {
  background-color: transparent;
}

/* other utilities */

.clear {
    clear: both;
}

.centered {
  text-align: center;
}

/* navbar css */

.menu-toggle{
  visibility: hidden;
  float: right;
  display: block !important;
}

/* pages */
.page-header {
  color: white;
  height: 6em;
  padding-left: 1em;
}

/* skewed background */
.skewed-bg {
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5);
}

.skewed-bg.skewed-mid {
  background: #e3e3e3;
  padding-top: 3em;
  height: 100%;
}

.skewed-bg .contentOfSkew {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}


.skewed-bg.skewed-pad-100 {
  padding: 10px 0;
}


/* footer css */

.footer-div {
  padding-top: 8em;
  background-color: #2c3e50;
  color: white;
  text-align: center;
}


/* media queries */

@media screen and (max-width: 700px) {

  .footer-div {
    padding-top: 3em;
  }

  .menu-toggle {
    visibility: visible;
  }

  .menu-item {
    display: none;
  }

}
